<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Jigsaw Puzzle</title>
    <link rel="stylesheet" href="../static/css/jigsaw.css">
    <script src="../static/js/functions.js"></script>
</head>

<body>
    <div class="container">
        <div class="display">
            <h4 style="color:red; font-size:25px;" ><i>Jigsaw Puzzle</i></h4>
            <button onClick="newPage('/game')" class="pushable"><span class="front">Start</span>
            </button>
            <h6 style="color:#9bfdb1; font-size:14px;">Click the image segments to move them</h6>
        </div>
    </div>
</body>   
</html>
